.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.subTitle {
  color: var(--btn);
}
.title {
  font-size: 56px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--btn);
  font-size: 22px;
  font-weight: bold;
}

.imgContainer {
  flex: 1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  object-fit: contain;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column !important;
  }

  .boxes {
    flex-direction: column !important;
    gap: 30px;
    text-align: center;
  }
  .title {
    font-size: 23px !important;
  }

  .desc {
    font-size: 16px !important;
  }
  .textContainer {
    gap: 30px;
  }
}
