.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageContainer {
  position: relative;
  flex: 1;
}

.title {
  font-size: 30px;
  text-wrap: wrap;
}

.desc {
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
  color: var(--text);
}

/* .buttons:nth-child(0) {
  background-color: var(--btn);
  color: var(--text);
} */

.heroImg {
  border-radius: 10px;
  height: 400px !important;
}
.brands {
  max-width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column !important;
    align-items: center;
  }
  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
  .desc {
    font-size: 16px;
  }
  .brands {
    width: 100%;
  }
}
