.logout {
  @apply p-[10px] cursor-pointer font-bold;
  background-color: var(--text);
  color: var(--bg);
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobileLinks,
.menuBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menuBtn {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
  }

  .mobileLinks {
    @apply absolute top-[100px] right-0 w-1/2 flex flex-col items-center justify-center gap-[10px] overflow-hidden;
    transition: height 0.5s ease-in-out;
    height: calc(100vh - 100px);
    background-color: var(--bg);
    z-index: 100;
  }
}
